#nav_box {
  overflow: hidden;
  background-color: #202020d9;
}

@media print {
  #nav_box {
  	display: none;
  }
}

@media only screen and (max-width: 480px) {
  #nav_box {
    width: 100vw;
    height: fit-content;
    overflow: hidden;
  }
}

@media only screen and (min-width: 480px) {
  #nav_box {
  	width: fit-content;
    min-width: 24vw;
  	max-width: 50vw;
    min-height: 100vh;
  }
}

#nav_items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

@media only screen and (min-width: 480px) {
  #nav_items {
    margin-top: 5em;
  }
}

.nav_item {
  width: 100%;
/*  border: 1px solid rgba(47, 41, 234, 0.5);*/
  border-bottom: none;
  box-shadow: inset 0 0 1px 1px rgba(198, 193, 236, 0.2);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(198, 193, 236, 0.2);
  box-sizing: border-box;
  text-align: center;
  padding: 0.5em 0.5em;
  font-size: 1em;
  color: #fff;
  background-color: rgba(144, 114, 198, 0.3);
}

#nav_box ul li:nth-last-child(1) {
  border-bottom: 2px solid rgba(198, 193, 236, 0.2);
}

#nav_box ul li:hover {
  background-color: rgba(198, 193, 236, 0.9);
}